// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn, [role="button"] {
  cursor: pointer;
}

.btn-inline {
  padding: 0;
  border: none;
  background: none;
  line-height: 1;
  cursor: pointer;

  @include hover-focus {
    background: none;
  }
}

.btn-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: block;
  padding: .25rem .5rem;
  cursor: pointer;
  z-index: $zindex-sticky;
}

.btn-file.custom-file {
  height: auto;
  .custom-file-input {
    position: absolute;
  }
}

.btn-action {
  position: relative;

  .action-status {
    display: none;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

  &.action-processing {
    .processing {
      display: inline-block;
    }
  }

  &.action-failure {
    .failure {
      display: inline-block;
    }
  }

  &.action-success {
    .success {
      display: inline-block;
    }
  }
}
