// -----------------------------------------------------------------------------
// This file contains all styles related to the form and inputs components.
// -----------------------------------------------------------------------------


.form {
    &-md {
      max-width: map-get($container-max-widths, md);
    }

    &-sm {
      max-width: map-get($container-max-widths, sm);
    }

    &-xs {
      max-width: (map-get($container-max-widths, sm) / 3 * 2);
    }
}
