@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/fa/font-awesome',
  'vendor/bootstrap/bootstrap';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer',
  'layout/main';

// 5. Components
@import
  'components/button',
  'components/form';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default';
