// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  position: absolute;
  min-width: 30em;
}

.logo {
  width: 3rem;
  height: auto;
}

.top-nav {
  padding-top: 4rem;

  .nav-link:not(.active) {
    color: $navbar-light-color;

    @include hover-focus {
      color: $navbar-light-hover-color;
    }
  }
}

.transfer-stats {
  position: absolute;
  left: 50%;
  top: 1.1rem;
  border-left: 1px solid $gray-200;
  transform: translateX(-7rem);
}
